@import '../../variables';

.home-component {    
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto;
    
    .card-style {
        border: 1px solid #d1cece;
        height: 200px;
        width: 280px;
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0 2px 2px #d1cece;
    }

    .btn-style {
        margin: 10px;
    }
}



