<div class="home-component">

  <div class="pipe-container card-style" *ngIf="showPipeContainer">
    <!-- Two way binding -->
    <h2>Two-way Binding</h2>
    <input [(ngModel)]="fullName" /> <br /><br />
    <p> {{ fullName }} <br />
      {{ course.students | number }} <br />
      <!-- {{ course.rating | number:'2.1-1' }} Round value two integer value and one value after decimal point 05.0-->
      <!-- {{ course.rating | number:'1.1-1' }} Round value one integer value and one value after decimal point 5.0-->
      {{ course.rating | number:'1.2-2' }} <br />
      <!--Round value one integer value and two value after decimal point 4.96-->
      {{ course.price | currency: 'INR':true:'3.2-2' }} <br />
      {{ course.releasedate | date:'mediumDate' }} <br />
      {{ course.text }}
    </p>
    <!-- String interpolation -->
    <h1>{{ course.title | uppercase }}</h1>
    <!-- Property binding -->
    <button [disabled]='buttonStatus'>Submit</button>
    <!-- Event binding -->
    <button (click)="onSaveBtnClick($event)">Save</button>
  </div>

  <mat-toolbar-row fxLayout="row wrap" fxLayout.xs="column" fxLayout.sm="column" fxLayout.lt-lg="column">

    <mat-card class="card-style">
      <mat-card-title>Local Storage</mat-card-title>
      <mat-card-actions>
        <mat-toolbar-row>
          <mat-form-field>
            <mat-label>Enter name</mat-label>
            <input matInput type="text" [(ngModel)]="setStoredValue">
          </mat-form-field>
          <button class="app-btn-style primary-btn" mat-raised-button color="primary" (click)="onStoreBtnClick()">Store</button>
        </mat-toolbar-row>
        <mat-toolbar-row>
          <button class="app-btn-style primary-btn" mat-raised-button color="primary" (click)="onShowBtnClick()">Show</button>
          <span class="span-field-style">{{ getStoredValue }}</span>
        </mat-toolbar-row>
        <mat-toolbar-row>
          <button class="app-btn-style primary-btn" mat-raised-button color="primary"
            (click)="storeStudentDetails()">Store Student Detail</button>
          <button class="app-btn-style primary-btn" mat-raised-button color="primary"
            (click)="getStudentDetails()">Show Student Last Name</button>
          <span>{{ stdLastName }}</span>
        </mat-toolbar-row>
      </mat-card-actions>
    </mat-card>

    <mat-card class="card-style">
      <mat-card-title>API: Fetch and display data</mat-card-title>
      <mat-card-actions>
        <mat-toolbar-row>
          <button class="app-btn-style primary-btn" mat-raised-button color="primary" (click)="getUserDetails()">
            <span *ngIf="!nameLoading">Show Name</span>
            <app-spinner *ngIf="nameLoading"></app-spinner>
          </button>
          <span class="span-field-style">{{ userName }}</span>
        </mat-toolbar-row>
        <mat-toolbar-row>
          <button class="app-btn-style primary-btn" mat-raised-button color="primary" (click)="getComments()">
            <span *ngIf="!emailLoading">Show Email</span>
            <app-spinner *ngIf="emailLoading"></app-spinner>
          </button>
          <span class="span-field-style">{{ user4Email }}</span>
        </mat-toolbar-row>
      </mat-card-actions>
    </mat-card>

    <mat-card class="card-style">
      <mat-card-title>Child Component & From child-prnt: {{parentListenerVar}}</mat-card-title>
      <mat-card-actions>
        <mat-toolbar-row>
        <!-- child compoment -->
        <app-child
          [childListener]="childNameFromParent"
          (sendFromChild)="parentListner($event)"
        ></app-child>
        </mat-toolbar-row>
      </mat-card-actions>
    </mat-card>

  </mat-toolbar-row>

</div>