@import '../../variables';

.login-container {
    position: absolute;
    left: 50%;
    width: 25%;
    min-width: 320px;
    height: auto;
    min-height: 180px;
    margin-left: -195px;
    margin-bottom: 50px;
    margin-top: 167px;
    background-color: $white;
    border: 1px solid $theme-color;
    box-shadow: 2px 2px 5px $theme-color;
    padding: 30px;
    border-radius: 10px;
    .login-form {
        min-width: 150px;
        max-width: 500px;
        width: 100%;
        margin: 10px;   
    }
    .login-input-field {
        width: 100%;
    }
    .primary-btn {
        margin-right: 10px;
    }
    .divider {
        margin: 0 -30px;
        padding: 5px;
    }
}
