/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.form-heading {
    font-weight: 600;
    font-size: 20px;
}

.divider {
    border-bottom: 1px solid aqua;
}

.app-btn-style {
    margin: 0 10px;
}

.error-text-color {
    color: #de2020;
}
